$mainBgColor: #f4f8fe;
$accentColor: rgb(230, 231, 233);

//colors
$textMainColor: #f94f5a;
$secondaryColor: #fedc56;
$ctaColor: #fdb62a;

//breakpoints
$breakpoints: (
  small: 499px,
  medium: 699px,
  large: 999px,
  xlarge: 1399px,
);
@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

html {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  width: 100%;
  font-size: 1.1em;
  font-weight: 700;
  max-width: 280px;
  border-radius: 50px;
  height: 50px;
  background-color: $secondaryColor;
  color: white;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 3px 6px 8px 0px rgba(185, 187, 191, 1);
  -moz-box-shadow: 3px 6px 8px 0px rgba(185, 187, 191, 1);
  box-shadow: 3px 6px 8px 0px rgba(185, 187, 191, 1);

  &:hover {
    background-color: $ctaColor;
  }
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding-bottom: 150px;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1 {
  margin-left: 20px;
  text-shadow: 5px 5px 0px rgba(230, 231, 233, 1);
  display: inline-block;
  font-size: 7vw;
  color: $textMainColor;
  transition: color 500ms ease-in-out;

  &:hover {
    color: $ctaColor;
  }

  @include breakpoint(medium) {
    font-size: 6vw;
    margin-left: 50px;
  }

  @include breakpoint(large) {
    font-size: 3.5vw;
    margin-left: 50px;
  }
}
