.hero {
  background: $mainBgColor;

  .container {
    display: grid;
    grid-template-columns: auto;

    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  img {
    margin: 0 auto;
    width: 100%;
    max-width: 520px;
    @include breakpoint(medium) {
      max-width: 700px;
    }
  }

  .hero-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;

    .intro-text {
      background-color: $textMainColor;
      color: white;
      font-weight: 700;
      text-align: center;
      font-size: 0.8em;
      padding: 30px 10px;
      margin: 20px;

      border-radius: 32px;
      -webkit-box-shadow: 3px 6px 8px 0px rgba(185, 187, 191, 1);
      -moz-box-shadow: 3px 6px 8px 0px rgba(185, 187, 191, 1);
      box-shadow: 3px 6px 8px 0px rgba(185, 187, 191, 1);

      @include breakpoint(large) {
        padding: 50px 30px;
        font-size: 1.1em;
      }
    }

    button {
      border: none;
      margin: 20px;
    }
  }
}
